@font-face {
    font-family: ".";
    src: url("BradescoSans-Thin-web.eot"); /* IE9 */
    src: url("BradescoSans-Thin-web.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("BradescoSans-Thin-web.woff") format("woff"), /* chrome, firefox */
    url("BradescoSans-Thin-web.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("BradescoSans-Thin-web.svg#.") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


